aside {
    width: 240px;
    min-height: 100vh;
    padding: 24px 16px;
    box-sizing: border-box;
    background-color: #111827;
    color: white;
}

aside h2{
    margin: 0 0 32px;
    padding: 0 12px;
    font-size: 20px;
}

aside nav {
    display: flex;
    flex-direction: column;
    gap: 6px;
}

aside nav a{
    padding: 12px;
    border-radius: 8px;
    text-decoration: none;
}

aside nav a:hover {
    background-color: #1f2937;
}

aside nav a.active {
    background-color: #374151;
    font-weight: bold;
}